.body{

    font-family: "Poppins", sans-serif;

}
.container{
    margin: 0 auto;
    width: 1280px;
    padding: 20px;

}
.header{
    display: flex;
    align-items: center;
    padding: 84px;
}
.header-content {
    display: flex;
}
.header-logo { 
    flex: 1;
    width: 122px;
    display: block;

}
.header-menu {
    flex: 1;
    gap: 32px;
    display: flex;
    justify-content: flex-end;

}
.header-menu-item{
    font-size: 16px;
    font-weight: 600;
    color: #394149;
    text-decoration: none;
}
.primary-button{
    margin: 47px;
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    font-size: 16px;
    line-height: 24px;
    color: orange;
    cursor: pointer;
}
.primary-button:hover{
    background-color: rgba(245, 138, 7, 0.3);
}
.Header-section{
    background-color: #dceaf5;
    gap: 96px;
    

}
.Header{ 
    display: flex;
    margin: 0 auto;
    width: 1933px;
    height: 703px;
    top: 84px;
}
.text1 {
    flex: 1;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    color: #1d3444;
    display: block;
    width: 576px;

}
.text2{
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5b5b5b;
    padding: 12px;
    width: 571px;
}
.text3{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding: 32px;
    width: 364px;
}
.s-button{
   
    font-size: 16px;
    background-color: orange;
    border-radius: 27px;
}
.text3-2{
    color: #1d3444;
    font-size: 16px;
    font-weight: 600;
}
.text4{
    color: rgba(57, 65, 73, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 56px;
    width: 262px;
}
.header-logos {
    display: flex;
    width: 510px;
    height: 33px;
}
.logo1_1{ 
    flex: 1;
    margin: 0 auto;
   
}
.help{
    gap: 96px;
    width: 1280px;
    margin: 0 auto;
}
.help-text{
    width: 735px;
    padding: 20px;
}
.help-text1{
    color: #1d3444;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    
}
.help-text2{
    color: #5b5b5b;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    gap: 40px;

}
.help-post{
    display: flex;
    width: 1280px;
    gap: 40px;

}
.help1-text1 {
    color: #0d1317;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.03em;
}
.help1-text2{
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.help1-text3{
    color: #f58a07;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
}
.Section-Features{
    
    background-color: #edf7ff;
    margin: 0 auto;
    width: 1280px;
    padding: 96px;

}
.features_text{
   display: flex; 
   gap: 40px;

}
.content{
    flex: 1;
    color: #0d1317;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.03em;
}
.content2{
    flex: 1;
    color: #1d3444;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.features{
    display: flex;
}
.feature1{
    flex: 1;
    background-color: #ffffff;
    width: 401px;
    border-radius: 20px;
    gap: 40px;
    
}